*.py[cod]

# C extensions
*.so

# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
.eggs
.cache
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
dist/

# Installer logs
pip-log.txt
pip-wheel-metadata/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache
htmlcov
*,cover

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/

# Emacs
*~
\#*
*#

# Pyenv
.python-version*

google_secret.json
